html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
    min-height: 100%;
    max-width: 100%;
}

.left__zona {
    width: 34.6%;
    background-color: #f4f4f4;
    min-height: 100%;
}

.right__zona {
    width: 65.4%;
    min-height: 100%;
}

.left-container {
    max-width: 463px;
    margin: 0 auto;
}

.logo {
    display: block;
}

.left-top-titles {
    margin-left: 25px;
    margin-top: 20px;
}

.right-container {
    max-width: 1185px;
    margin: 0 auto;
}

.left-top {
    display: flex;
    align-items: center;

}

.top-title-strong {
    font-size: 26px;
    font-weight: 500;
}

.top-title {
    padding-bottom: 20px;
    color: #636363;
    font-size: 26px;
}

.left-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one-level {
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
    position: relative;
}

.one-level::before {
    content: "1";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 33px;
    color: #fff;
    left: -40px;
    bottom: -5px;
    background: linear-gradient(180deg, #3F4475 0%, #212656 100%);
    font-weight: 500;
}

.levels {
    margin-top: 40px;
}

.levels-item {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 10px 0 10px 25px;
    position: relative;
}

.item-done::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    background: linear-gradient(180deg, #3F4475 0%, #212656 100%);
    border-radius: 19px;
    left: -30px;
    bottom: 2px;
}

.item-rare::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 19px;
    background: linear-gradient(180deg, #E46D6D 0%, #BB3A3A 100%);
    border-radius: 19px;
    left: -30px;
    bottom: 2px;
}

.status-text {
    font-size: 30px;
}

.left-middle-counters {
    margin-bottom: 24px;
}

.count {
    width: 45px;
    height: 30px;
    border-radius: 6px;
    background: linear-gradient(180deg, #A55EEC 0%, #8338CD 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 29px;
    font-weight: 600;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    
}

.title-text {
    font-size: 24px;
    font-weight: 500;
    background-color: #f4f4f4;
    border: none;
    border-bottom: 1px solid #cccccc;
}

.title-add {
    width: 45px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #FF855A 0%, #FF632C 100%);
    border-radius: 6px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.right-title {
    width: 200px;
    margin-top: 80px;
}

.right-h2-title {
    font-size: 30px;
    font-weight: 700;
    position: relative;
}

.right-tabs {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.right-add-tab {
    border: none;
    border-bottom: 1px solid;
    text-align: center;
}

.btn-add-tab {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border: none;
    background: linear-gradient(180deg, #FBD448 0%, #E6BA1D 100%);
    color: #454545;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}

.btn-add-tab:hover {
    background: linear-gradient(180deg, #f6d459 0%, #e2b513 100%);
    transition: all 1s;
}

.right-tab {
    min-width: 207px;
    height: 35px;
    background: linear-gradient(180deg, #A55EEC 0%, #8338CD 100%);
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    padding: 5px;
}

.right-tab:nth-child(2n+1) {
    background: linear-gradient(180deg, #3F4475 0%, #212656 100%);
}

.right-tab:nth-child(3n+1) {
    background: linear-gradient(180deg, #E46D6D 0%, #BB3A3A 100%);
}

.right-tab-text {
    font-size: 20px;
    font-weight: 700;
    flex: 1 1 126px;
    margin: 0 5px;
}

.right-tab-block {
    display: flex;
    width: 20%;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 700;
    align-items: center;
    height: 35px;
}

.right-tab-add {
    cursor: pointer;
}

.right-tab-custom {
    cursor: pointer;
    margin: 0 10px;
}

.right-blocks {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right-block {
   min-width: 217px;
   min-height: 132px;
   border-radius: 12px;
   background: linear-gradient(180deg, #DCE3ED 0%, #B5C1D2 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 15px;
}

.right-block-plus {
    font-size: 50px;
    color: #2A2F5B;
    cursor: pointer;
}

.right-block-text {
    font-size: 24px;
    font-weight: 500;
    color: #2A2F5B;
    flex: 0 1 180px;
    padding: 10px 10px;
}

.enter {
    display: flex;
    height: 100vh;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    border: none;
}

.btn-auth {
    width: 317px;
    height: 97px;
    background: linear-gradient(180deg, #3F4475 0%, #212656 100%);
    border-radius: 15px;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    border: none;
    line-height: 39px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-auth:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.1s;
}

.form-rega {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 404px;
    margin-left: 400px;
}

.input-form-rega {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #949494;
    height: 35px;
}

.input-form-rega::placeholder{
    text-align: center;
    font-size: 32px;
    color: #949494;
    position: absolute;
}

.invalid {
    border: 2px solid #BB3A3A;
}
